<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586603466515-qb49nj63jf363kaf7o8ql05l9dn2lp6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586603466515-qb49nj63jf363kaf7o8ql05l9dn2lp6d</string>
	<key>API_KEY</key>
	<string>AIzaSyDZByOrZ64s78mVjfvXRNIsA3n2bAmozSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>586603466515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pam.BonusFactory</string>
	<key>PROJECT_ID</key>
	<string>bonusfactory-5b89c</string>
	<key>STORAGE_BUCKET</key>
	<string>bonusfactory-5b89c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586603466515:ios:2b19a58652d21f2ba9d4e6</string>
</dict>
</plist>
